* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: chocolate;
}

body {
  font-family: sans-serif;
}

header {
  background-color: grey;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/assets/images/beachshowcase.jpg);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1em;
  color: var(--main-color);
}

p {
  font-size: 1rem;
  color: var(--main-color);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 100%;
  font-style: italic;
  color: var(--main-color);
  background: white;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}
button:hover {
  background-color: var(--main-color);
  color: #fff;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section {
  display: flex;
  text-align: center;
}

.section-a {
  padding: 10px;
  color: var(--main-color);
}

.section-b {
  padding: 10px;
  color: var(--main-color);
}

.dark {
  color: black;
  background-color: var(--main-color);
}
